<head id="Head1" runat="server">
  <title>HealthInfo</title>
  <style type="text/css">
    .Table
    {
      display: table;
    }
    .Title
    {
      display: table-caption;
      text-align: center;
      font-weight: bold;
      font-size: larger;
    }
    .Heading
    {
      display: table-row;
      font-weight: bold;
      text-align: center;
    }
    .Row
    {
      display: table-row;
    }
    .Cell
    {
      display: table-cell;
      border: solid;
      border-width: thin;
      padding-left: 5px;
      padding-right: 5px;
    }
  </style>
</head>
<body>
<form id="form1" runat="server">
  <div class="Table">
    <div class="Title">
      <p>
        This is a Table</p>
    </div>
    <div class="Heading">
      <div class="Cell">
        <p>
          FirstName</p>
      </div>
      <div class="Cell">
        <p>
          LastName</p>
      </div>
      <div class="Cell">
        <p>
          Age</p>
      </div>
    </div>
    <div class="Row">
      <div class="Cell">
        <p>
          Praveen</p>
      </div>
      <div class="Cell">
        <p>
          Raveendran</p>
      </div>
      <div class="Cell">
        <p>
          28</p>
      </div>
    </div>
    <div class="Row">
      <div class="Cell">
        <p>
          John</p>
      </div>
      <div class="Cell">
        <p>
          Samuels</p>
      </div>
      <div class="Cell">
        <p>
          27</p>
      </div>
    </div>
  </div>
</form>
</body>undefined</html>